body{

    margin: 0;
    padding: 0;

}
table{

    border-collapse: collapse;
    width: 100vw;
    height: 70vh;

    

}

.numeracion{

    width: 30px;
    height: 10px;
}

td{
    background-image: url("./imagenes/como-elegir-el-suelo-de-una-casa.jpeg");
}

.actual{
     background-image: url("./imagenes/brant.jpg");
    background-size: contain;      /* Hace que la imagen cubra todo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;/* Evita que se repita */

}

.dirigir{
    background-image: none;
    background-color: red;
}

.tesoro{

    background-image: url("./imagenes/tesoro.png");
    background-size: contain;      /* Hace que la imagen cubra todo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;/* Evita que se repita */
}

.dado {
    width: 120px;
    height: 120px;
    background: white;
    border: 4px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
    margin: 15px 0;
    transition: transform 0.3s;
}

.dado span {
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
}

.dado .activo {
    background: beige;
}

/* Animación al tirar */
.dado.tirar {
    transform: rotate(20deg);
}

#dado{
    margin-left: 10px;
    background-color: #965A3E;
}
body{
    background-color: bisque;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
        height: 100vh;
}
form{
    
    background-color: #C19A6B;
    border-radius: 30px;
   padding: 80px;

}

.inicioJuego{

    border-bottom: 1px solid beige;
    color: beige;
}

label{
    color: beige;
}

button{
    color: #C19A6B;
    background-color: beige;
}

input{
    background-color: beige;
    margin-left: 10px;
}


.luchar{
    color: beige;
}

#tirar{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 80px;
}

#botones{
    display: flex;
    justify-content: center;
}

#jugar{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}

button:hover{

    border: 1px solid black;
}

#input{
    display: flex;
    justify-content: center;
}

#seccionH1{
    display: flex;
    justify-content: center;
}

